<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso Vue.js</title>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>

      <input type="text" v-model="newFruit" @keyup.enter="addFruit" />
      <input type="text" v-model.number="newCount" @keyup.enter="addFruit" />
      <button @click="addFruit">Agregar</button>

      <ul>
        <li v-for="fruit in fruits">
          <input type="number" v-model.number="fruit.count" />
          {{fruit.name}}
          <button @click="fruit.count++">+</button>
          <span v-if="fruit.count === 0"> - Sin stock</span>
        </li>
      </ul>

      <h3>Total: {{sumFruit}}</h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
